
.bi {
  font-size: 400%;
}

.info {
  color: black;
  border: 8px solid silver;
  border-radius: 3px;
  width: 48%;
  margin-left: 25%;
  padding: 5%;
  font-size: 120%;
  background-image: url("../../../../assets/background_small.png");
  background-size: cover;
}

.section {
  font-weight: bold;
  padding-top: 8%;
}

.actions {
  font-size: 5px;
  cursor: pointer;
  float: right;
  width: 10%;
}

.error {
  font-size: 80%;
  color: indianred;
}

i {
  padding: 3%;
}

label {
    width: 80%;
}

input {
  width: 80%;
}

button {
  margin: 2%;
}
