<div class="container">
  <h2>Register</h2>
  <form [formGroup]="form" (ngSubmit)="register()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" required>
      <div class="error" *ngIf="form.get('username')?.hasError('required')">Username is required.</div>
    </div>
    <br/>

    <div>
      <label for="first_name">First name:</label>
      <input type="text" id="first_name" formControlName="first_name" required>
      <div class="error" *ngIf="form.get('first_name')?.hasError('required')">First name is required.</div>
    </div>
    <br/>

    <div>
      <label for="last_name">First name:</label>
      <input type="text" id="last_name" formControlName="last_name" required>
      <div class="error" *ngIf="form.get('last_name')?.hasError('required')">Last name is required.</div>
    </div>
    <br/>

    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" formControlName="email" required email>
      <div class="error" *ngIf="form.get('email')?.hasError('required')">Email is required.</div>
      <div class="error" *ngIf="form.get('email')?.hasError('email')">Invalid email format.</div>
    </div>
    <br/>

    <div>
      <label for="email">Password:</label>
      <input type="text" id="password" formControlName="password" required min="6">
      <div class="error" *ngIf="form.get('password')?.hasError('required')">Password is required.</div>
      <div class="error" *ngIf="form.get('password')?.hasError('min')">Password must have at least 6 characters.</div>
    </div>

    <br/>

    <button type="submit" [disabled]="form.invalid" class="btn btn-outline-light" style="border: 3px solid white;">Register</button>
  </form>

  <div *ngIf="this.registerData"><p>{{this.registerData}}</p></div>

  <br/><br/>
  <p>Already have an account? Go to <a [style]="'color:white;'" (click)="goToLogin()" class="btn btn-link">Log in</a>
  </p>
</div>
