<!--html template for display_map view, extends the base html-->

{% extends 'base.html' %}
{% load static %}

{% block extend_head %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=createMap" async defer></script>
    <style>
        #map {

            height: 400px; /* height for the map */
            width: 100%; /* width for the map */
        }
    </style>
{% endblock %}

{% block extend_body %}
    <div id="map">
        <script>
            //function for initializing the map
            function createMap() {
                    var map = new google.maps.Map(document.getElementById("map"), {
                    center: {lat: 44.4268, lng: 26.1025}, // initial center of the map
                    zoom: 6 // initial zoom level
                });
            }
            setTimeout(createMap, 1000); //set delay to ensure that API is loaded correctly
            //specify that google variable is defined globally
            /* global google */
        </script>
    </div>
{% endblock %}
