<div class="big-container">
  <form #quizForm="ngForm" (ngSubmit)="this.calculateResult(quizForm)" *ngIf="!this.isFinished">
    <div *ngFor="let question of this.questions">
      <br/><br/>
      <div class="question-container">
        <h2>{{ question.question }}</h2>
        <div *ngFor="let i of [0, 1, 2, 3]" class="answer-container">
        <input type="radio"
               [(ngModel)]="selectedAnswers[question.id]"
               [id]="question.id + 'answer' + i"
               [value]="i"
               [name]="'answer' + question.id">
        <label [for]="question.id + 'answer' + i">{{ question.answers[i] }}</label>
        </div>
      </div>
    </div>

    <br/><br/>
    <button type="submit" class="btn btn-outline-light">Submit</button>
  </form>
</div>


<div class="result-container" *ngIf="this.isFinished">
  <h2>Your result to the quiz is: </h2>
  <div *ngIf="this.result < 50"></div>
  <div class="result">{{this.result}}%</div>
  <div style="font-size: 120%;">
    <div style="color:#B83333;" *ngIf="this.result < 50">
      That's ok!
    </div>
    <div style="color:#E1ADAD" *ngIf="this.result >= 50 && this.result < 90">
      Nice!
    </div>
    <div *ngIf="this.result >= 90">
      Great!
    </div>
</div>
   <p>Go back to <a class="btn btn-link" [style]="'color:#E1ADAD;'" (click)="this.goToQuizzes()">Quizzes</a>
</div>
