footer {
  background-color: #B83333;
  width: 100%;
  position: absolute;
  height: 130px;
  color: white;
  font-size: small;
  text-align: center;
  font-family: 'Comfortaa';
  border-top: 2px solid white;
}

.info {
  padding: 1%;
  gap: 5%;
  font-size: 120%;
  border-left: 70px solid #B83333;
  display: flex;
  flex-direction: row;
}

.row {
  cursor: pointer;
}
