 body, header {
      background-color: #33255B;
      color: white;
      margin: 0;
      border: 0;
      padding: 0;
      font-family: 'Comfortaa';
    }

 html, body {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

 img {

 }

@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('woff2'),
       url('fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('woff'),
       url('fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
}
