img {
    width: 120px;
    height: 100px;
}


table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 10px;
    }

th {
  padding: 10px;
  text-align: center;
}

td {
  padding: 0;
  height: 5px;
}

.bullet {
  font-size: 220%;
  text-align: center;
}

.big-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.container {
  width: 600px;
  height: 500px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid black;
}

.name {
  font-size: 500%;
  font-weight: 900;
  text-shadow: 3px 3px lightgrey;
}

.name:hover{
  font-size: 570%;
}

.years {
  font-size: 300%;
  padding: 0;
  text-align: center;
  font-style: italic;
}


