<div>
  <br><br><br>

  <h1 style="text-align: center">Follow the Road of Human History...</h1>
  <br><br><br>

    <div class="big-container" *ngFor="let hp of historicalPeriods">
      <div class="container" [ngStyle]="{'background-image': 'linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url(../../../../assets/' + hp.id + '.jpg)'}">
        <br/>
        <div class="name"><a (click)="goToHistoricalPeriodInfo(hp.id)">{{ hp.name }}</a> </div>
        <div class="years">{{ hp.start_year }} - {{ hp.end_year }} {{ hp.era }}</div>
      </div>
    </div>
</div>
