.container {
  text-align: center;
  align-items: center;
}

.slider {
  padding: 30px;
}
span.ngx-slider-span.ngx-slider-pointer.ngx-slider-pointer-min {
  background-color: #B83333;
}

span.ngx-slider-span.ngx-slider-pointer.ngx-slider-pointer-max {
  background-color: #B83333;
}

span.ngx-slider-span.ngx-slider-pointer.ngx-slider-pointer-min::after {
  background-color: white;
}

span.ngx-slider-span.ngx-slider-pointer.ngx-slider-pointer-max::after {
  background-color: white;
}

div.ngx-slider-inner-tooltip {
    display: none;
}

span.ngx-slider-span.ngx-slider-bar.ngx-slider-selection {
  background-color: #B83333 !important;
}

span.ngx-slider-span.ngx-slider-bubble.ngx-slider-model-value {
  color: lightgrey;
}

span.ngx-slider-span.ngx-slider-bubble.ngx-slider-model-high {
  color: lightgrey;
}


.map-container {
  width: 90%;
  height: auto;
  border: 10px solid white;
  margin-left: 5%;
}

.google-map {
  height: 100%;
  width: 100%;
}

h2 {
  font-size: 250%;
}

label {
  width: 90px;

}

input {
  width: 80px;
}
