<app-map-options-menu></app-map-options-menu>

<div class="container">
  <div *ngIf="!this.routesMode">
    <br/><br/><br/>
    <h2>Choose time range for events:</h2>
    <br/>
    <div class="slider">
      <ngx-slider [(value)]="this.minVal" [(highValue)]="this.maxVal" [options]="this.options" (userChange)="this.submitYears()"></ngx-slider>
    </div>
  </div>

  <div *ngIf="this.routesMode">
    <br/><br/><br/>
    <div *ngIf="this.route.length > 0">
      <div class="title">{{this.route[0].event_type}}s of {{this.route[0].category}}</div>
    </div>
    <br/>
    <h3 *ngIf="this.route.length == 0">Click on event to highlight route...</h3>
    <br/>
    <button class="btn btn-outline-light" (click)="this.exitRoutesMode()">Exit routes mode</button>
  </div>

  <div *ngIf="this.isEventClicked">
    <app-event-info></app-event-info>
  </div>

  <br/><br/>
  <div class="map-container">
    <div *ngIf="this.loading">
      <app-spinner></app-spinner>
    </div>

    <div id="map" [style.height]="'900px'"></div>
  </div>
</div>
