
.grid-container {
  height: 80px;
  background-color: #B83333;
  border-bottom: 2px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-logo {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  font-size: 2px;
}

.grid-home {
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  font-size: 30px;
}

.grid-map {
  grid-column: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  font-size: 30px;
}

.grid-time {
  grid-column: 4;
  grid-row-start: 2;
  grid-row-end: 5;
  font-size: 30px;
}

.grid-quizzes {
  grid-column: 5;
  grid-row-start: 2;
  grid-row-end: 5;
  font-size: 30px;
}

.grid-admin {
  grid-column: 6;
  grid-row-start: 2;
  grid-row-end: 5;
  font-size: 30px;
}

i {  cursor: pointer;}

.grid-username {
  grid-column: 13;
  grid-row-start: 2;
  grid-row-end: 5;
  font-size: 30px;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  grid-column: 14;
  grid-row-start: 2;
  grid-row-end: 5;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  opacity: 0.8;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 8px;
  z-index: 1;
  color: black;
  border-radius: 10px;
  top:35px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

span {
  font-size: 60%;
}
