<div class="grid-container">
  <div class="grid-logo">
    <img src="../../../../assets/Logo1.png" alt="HistoryMapperLogo1">
  </div>
  <div class="grid-home">
     <i (click)="goToHomePage()" class="bi bi-house-fill"></i>
  </div>
  <div class="grid-map">
    <i (click)="goToMap()" class="bi bi-geo-alt-fill"></i>
  </div>
  <div class="grid-time">
    <i (click)="goToHistoricalPeriods()" class="bi bi-clock-history"></i>
  </div>
  <div *ngIf="this.isAdmin" class="grid-admin">
    <i (click)="goToAdminPage()" class="bi bi-database-fill-lock"></i>
  </div>

  <div class="grid-username">
    <i (click)="goToLogin()" class="bi bi-person"></i>
  </div>

  <div class="dropdown"><span>{{ this.getUserName()}}</span>
      <div class="dropdown-content">
        <p style="color:black; font-size: 15px; padding-top:10px;">
          <a class="btn btn-outline-dark" (click)="this.logoutUser()">Log out</a>
        </p>
      </div>
    </div>
</div>
