<div style="text-align:center">
  <img src="../../../../assets/Logo.png" alt="HistoryMapperLogo">
  <br> <br> <br> <br> <br>
  <h1>Ready to step through time?</h1>
  <br> <br>
</div>
<br>
<div style="text-align:center">
  <br><br>
  <div *ngIf="!displayBackgroundImg">
    <img style="cursor:pointer;" src="../../../../assets/arrow-down.png" alt="Press arrow to see options" (click)="clickOnArrow()"/>
  </div>

  <div *ngIf="displayBackgroundImg">
    <img style="cursor:pointer;" src="../../../../assets/arrow-up.png" alt="Press arrow to hide options" (click)="clickOnArrow()"/>
    <br><br>
    <div class="menu-container">
      <div class="menu">
        <table>
          <br><br><br><br><br>
          <tr>
            <td class="category"(click)="goToExploreMaps()">explore maps</td>
            <td class="category" (click)="goToHistoricalPeriods()">historical periods</td>
            <td class="category" (click)="goToQuizzes()">take quizzes</td>
          </tr>
          <tr>
            <td><i class="bi bi-compass"></i></td>
            <td><i class="bi bi-hourglass"></i></td>
            <td><i class="bi bi-search"></i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

