<div class="container">
  <h2>Log in to your account</h2>
  <br/><br/>
  <form [formGroup]="form" (ngSubmit)="login()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username">
       <div class="error" *ngIf="form.get('username')?.hasError('required')">Username is required.</div>
      <div class="error" *ngIf="form.get('username')?.hasError('pattern')">Forbidden characters.</div>
    </div>
    <br/><br/>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
       <div class="error" *ngIf="form.get('password')?.hasError('required')">Password is required.</div>
       <div class="error" *ngIf="form.get('password')?.hasError('pattern')">Forbidden characters.</div>
    </div>
    <br/><br/>
    <button type="submit" [disabled]="form.invalid" class="btn btn-outline-light" style="border: 3px solid white;">Log in</button>
  </form>

  <br/><br/>
  <p>Do not have an account? Go to <a class="btn btn-link" [style]="'color: white'" (click)="goToRegister()">Registration</a>
  </p>
</div>
