<h2>Login></h2>
<form [formGroup]="form" (ngSubmit)="login()">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
  </div>
  <button type="submit">Login</button>
</form>

<!--<p *ngIf="loginData.">Login failed.</p>-->
<!--<p *ngIf="loginData.token">Login successful!</p>-->

<br/><br/>
<p>Do not have an account? Go to </p><a (click)="goToRegister()">Registration</a>
