.container {
    z-index: 1000;
    text-align: center;
    width: 100%;
    height: 200%;
}

h2 {
    font-size: 40px;
    font-weight: 90;
}

label {
    width: 250px;
}

input {
  width: 250px;
}

.error {
  font-size: 80%;
  color: rgb(225, 173, 173);
}
