.hamburger-menu {
    float: left;
    margin-top: 0px;
}

.menu-container {
    width: 200%;
    height: 700%;
    background-color: white;
    color: black;
    text-align: left;
    padding: 5px;
    opacity: 0.9;
    border-radius: 5px;
}

.option {
    padding: 10%;
    height: 30%;
    font-size: 130%;
    font-weight: bold;
}

.option:hover {
    background-color: #E1ADAD;
}

i {
    font-size: 180%;
} 

.bi-search {
    font-size: 100% !important;
}
