<div class="hamburger-menu">
 <div *ngIf="!this.menuOpened">
    <i class="bi bi-list" (click)="this.openMenu()"></i>
 </div>
  <div *ngIf="this.menuOpened">
    <div class="menu-container">
      <i class="bi bi-x-square-fill" (click)="this.closeMenu()"></i>
      <br/>
      <div class="small-container">
        <div class="option" (click)="this.selectOption('search')">
          <div class="small-option" [ngClass]="{'selected': selectedOption== 'search'}">Search event
          <i class="bi bi-x" *ngIf="this.selectedOption=='search'"></i></div>
        </div>

        <div *ngIf="this.selectedOption=='search'">
          <i class="bi bi-search"></i>
          <div class="search-bar">
            <form [formGroup]="searchForm" (keyup.enter)="searchForm.valid ? getEventByName() : null">
              <input type="text" id="eventName" formControlName="eventName"
                placeholder="Search event..." style="color: black; width: 30%">
            </form>
          </div>
           <br/>
        </div>

        <div class="option" (click)="this.selectOption('filter')">
          <div class="small-option" [ngClass]="{'selected': selectedOption== 'filter'}">Filter events
              <i class="bi bi-x" *ngIf="this.selectedOption=='filter'"></i>
          </div>
        </div>
          <div *ngIf="this.selectedOption=='filter'">
            <br/>
            <form [formGroup]="filterForm" (ngSubmit)="submitFilters()">
              <div class="wrapper">
                <div formGroupName="checkboxes">
                  <div *ngFor="let type of eventTypes">
                    <label class="checkbox-container">{{type.name}}
                      <input type="checkbox" [formControlName]="type.name">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-outline-dark" style="font-weight: bold">Filter</button>
            </form>
            <br/>
        </div>
      </div>

       <div class="option">
          <div class="small-option" (click)="this.selectOption('routes')">View routes</div>
        </div>
      </div>
  </div>
</div>

