.options {
  width: 100%;
  height: 300px;
  position: relative;
  top: -40px;
  padding-top: 5%;

}

.selected {
  color: slategray !important;
  border: 2px solid slategray !important;
}
.selected:hover{
  color: black;
  background-color: transparent;
}


table {
  text-align: center;
  width: 100%;
  margin-left: 24px;
}

.btn-outline-light {
  font-weight: bold !important;
  border: 3px solid white !important;
  font-size: 120% !important;
  margin-right: 100px !important;
  cursor: pointer;
}

.big-container {
  align-items: center;
  padding: 10%;
}

label {
    width: 15%;
}

input {
  width: 30%;
}

.bi-pencil-fill {
  cursor: pointer;
  font-size: 80% !important;
}


.error {
  font-size: 80%;
  color: rgb(225, 173, 173);
}

p {
  text-align: justify;
}
