.background-img {
  opacity: 0.2;
  position: absolute;
  height: 10%;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  z-index: 0;
}

.big-container {
  text-align: center;
  z-index: 1000;
}

.options {
  width: 100%;
  position: relative;
  top: -40px;
  padding-top: 2%;
}

.selected {
  color: slategray !important;
  border: 2px solid slategray !important;
}
.selected:hover{
  color: black;
  background-color: transparent;
}


table {
  text-align: center;
  width: 100%;
  margin-left: 30px;
}

.btn1 {
  font-weight: bold !important;
  border: 3px solid white !important;
  font-size: 120% !important;
  margin-right: 100px !important;
  cursor: pointer;
}


.big-container {
  align-items: center;
  padding: 5%;
}

.event-info {
  border: 2px solid white;
  padding: 10px;
  margin: 20px;
}

label {
    width: 15%;
}

input, textarea {
  width: 30%;
}


.error {
  font-size: 80%;
  color: rgb(225, 173, 173);
}

p {
  text-align: justify;
}

i {
  margin: 6px;
  padding: 3px;
  float: right;
  font-size: 20px;
  cursor: pointer;
}


