<div class="options">
  <table>
    <br><br><br><br><br>
    <tr>
      <td class="btn btn-outline-dark" [ngClass]="{ 'selected': selectedAction == 'add' }"
          (click)="selectAction('add')">add events
      </td>
      <td class="btn btn-outline-dark" [ngClass]="{ 'selected': selectedAction == 'show' }"
          (click)="selectAction('show')">show events
      </td>
      <td class="btn btn-outline-dark" [ngClass]="{ 'selected': selectedAction == 'delete' }"
          (click)="selectAction('delete')">delete events
      </td>
    </tr>
  </table>
</div>

<div class="big-container">
  <div *ngIf="selectedAction == 'add'">
    <h2>Add events from DBPedia to local database</h2>
    <br/>
    <form #dbpediaForm="ngForm" [formGroup]="addForm" (ngSubmit)="populateDB(dbpediaForm)">
      <div>
        <label for="dbpediaCategory">DBPedia category:</label>
        <input type="text" id="dbpediaCategory" formControlName="dbpediaCategory"
               placeholder="Enter category from DBPedia...">
        <div class="error" *ngIf="addForm.get('dbpediaCategory')?.hasError('required')">DBPedia category is required.</div>
      </div>
      <br/>
      <div>
        <label for="eventsType">Events type:</label>
        <input list="eventsTypeOptions" id="eventsType" formControlName="eventsType" placeholder="Enter type...">
        <div class="error" *ngIf="addForm.get('eventsType')?.hasError('required')">Events type is required.</div>
        <datalist id="eventsTypeOptions">
          <option value="Battle"></option>
          <option value="Uprising"></option>
          <option value="Succession"></option>
        </datalist>
      </div>
      <br/>
      <div>
        <label for="eventsCategory">Events category:</label>
        <input type="text" id="eventsCategory" formControlName="eventsCategory"
               placeholder="Enter local DB category...">
        <div class="error" *ngIf="addForm.get('eventsCategory')?.hasError('required')">Events category is required.</div>
      </div>
      <br/>

      <button type="submit" [disabled]="addForm.invalid" class="btn btn-outline-light" style="border: 3px solid white;">Add</button>
    </form>

    <br/><br/>
    <div *ngIf="this.events != []">
      <div *ngFor="let event of events">
        <div>{{ event.name }} - {{ event.event_date }}</div>
      </div>
    </div>
  </div>


  <div *ngIf="selectedAction == 'show'">
    <form #dbForm="ngForm" [formGroup]="showForm" (ngSubmit)="getEvent(dbForm)">
      <label for="name">Event name:</label>
      <input type="text" id="name" formControlName="name" placeholder="Enter event name...">
      <div class="error" *ngIf="showForm.get('name')?.hasError('required')">Name is required.</div>
      <br/><br/>
      <button type="submit" [disabled]="showForm.invalid" class="btn btn-outline-light" style="border: 3px solid white;">Show</button>
    </form>

    <div class="event-info" *ngIf="searchedEvent.length > 0">
      <br/><br/>

      <div style="font-size: 30px">{{ searchedEvent[0].name }}
        <i class="bi bi-pencil-fill" (click)="selectAction('edit')"></i>
      </div>
      <br/>
      <div> Date:
        <div style="color: #EDEAD4">{{ searchedEvent[0].event_date }} {{ searchedEvent.era }}</div>
      </div>
      <br/>
      <div> Location:
        <div style="color: #EDEAD4"> {{ searchedEvent[0].location }}</div>
      </div>
      <br/>
      <div>Type: {{ searchedEvent[0].event_type }}</div>
      <br/>
      <p>{{ this.searchedEvent[0].description }}</p>
    </div>
  </div>


  <div *ngIf="selectedAction == 'edit'">
      <h4 style="color: lightpink">Do not enter new values for fields who should not be changed!</h4>
    <br/><br/>
      <form #dbForm="ngForm" [formGroup]="editForm" (ngSubmit)="editEvent(dbForm)">
        <label for="newName">Event name:</label>
        <input type="text" id="newName" formControlName="newName" placeholder="{{searchedEvent[0].name}}">
        <br/><br/>
        <label for="newLocation">Event location:</label>
        <input type="text" id="newLocation" formControlName="newLocation" placeholder="{{searchedEvent[0].location}}">
        <br/><br/>
        <label for="newEventType">Event type:</label>
        <input type="text" id="newEventType" formControlName="newEventType" placeholder="{{searchedEvent[0].event_type}}">
        <br/><br/>
        <label for="newCategory">Event category:</label>
        <input type="text" id="newCategory" formControlName="newCategory" placeholder="{{searchedEvent[0].category}}">
        <br/><br/>
        <label for="newDescription">Event description:</label>
        <textarea style="width: 70%; height: 120px;" type="text" id="newDescription" formControlName="newDescription"
                  placeholder="{{searchedEvent[0].description}}"></textarea>
        <br/><br/>
        <button type="submit" class="btn btn-outline-light" style="border: 3px solid white;">Edit</button>
      </form>
  </div>
</div>
