<div style="text-align:center">
  <img src="assets/Logo.png" alt="Description of the image">
  <br> <br> <br>
  <h1 class="main-title">Ready to step through time?</h1>
  <br> <br> <br>
</div>
<br><br><br>
<div class="menu">

  <table style="width:100%">
    <br><br><br>
    <tr>
      <td>
        <a class="category" href='/explore-maps'>
          <div>explore maps</div>
        </a>
      </td>

      <td>
        <a class="category" href='/historical-periods'>
          <div>historical periods</div>
        </a>
      </td>
      <td class="category">search</td>
    </tr>
    <tr>
      <td><i class="bi bi-compass"></i></td>
      <td><i class="bi bi-hourglass"></i></td>
      <td><i class="bi bi-search"></i></td>
    </tr>
  </table>
  <th></th>
</div>

