<div class="big-container"
     [ngStyle]="{'background-image': 'linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.7)), url(../../../../assets/' + id + '.jpg)'}">
  <div class="mid-container">
    <h2>{{ this.historicalPeriod.name }}</h2>

    <br/><br/>
    <div class="faded">Between {{ this.historicalPeriod.start_year }}
      and {{ this.historicalPeriod.end_year }} {{ this.historicalPeriod.era }}
    </div>
    <div class="descr">
      <p>{{ this.historicalPeriod.description }}</p>
    </div>

    <button type="button" class="btn btn-outline-light" (click)="goToMap()">See on map</button>
  </div>

</div>
